.cropper-rect {
  left: calc(var(--cropper-x, 0) * 100%);
  top: calc(var(--cropper-y, 0) * 100%);
  width: calc(var(--cropper-size, 1) * 100%);
  height: calc(var(--cropper-size, 1) * 100%);
  position: absolute;
}

.crop-selection-grid-container {
  max-height: 280px;
  overflow-y: auto;
  padding: 5px;
  border-radius: 20px;
  background: #fdfdfd;
  border: 1px solid #f0f0f0;
}

/* Custom Premium Scrollbar */
.crop-selection-grid-container::-webkit-scrollbar {
  width: 6px;
}

.crop-selection-grid-container::-webkit-scrollbar-track {
  background: transparent;
}

.crop-selection-grid-container::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.crop-selection-grid-container::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
  background-clip: padding-box;
}